{% extends "parent.html" %}

{% block content %}
<h2 style="color: #2c3e50;">Lista de Conocimientos</h2>

<form method = "GET" action="{% url 'buscar-conocimiento' %}">
    <input type="text" name="nombre" placeholder="Buscar conocimiento..." value = "{{ nombre }}">
    
    <button type="submit">Refrescar</button>

</form>

<ul>

    {% for conocimiento in conocimientos %}
        <li>
            <strong>{{ conocimiento.nombre }}</strong> - {{ conocimiento.nivel }}
            |||
            <a href="{% url 'conocimiento_update' conocimiento.pk %}">Editar</a>
            <a href="{% url 'conocimiento_delete' conocimiento.pk %}">Eliminar</a>
        </li>
    {% empty %}
        <li>No hay conocimientos disponibles.</li>
    {% endfor %}
</ul>

<a href="{% url 'conocimiento_create' %}">Agregar conocimiento</a>

{% endblock %}


