{% extends "parent.html" %}


{% comment %} 
{%block content %}

<section id="experiencia" style="margin-bottom: 40px;">
      <h2 style="color: #2c3e50;">Informacion Basica</h2>
      <p>Email: {{ email }}</p>
      LinkedIn:  </p>
</section>

<section id="datos" style="margin-bottom: 40px;">
      <h2 style="color: #2c3e50;">Experiencia Laboral</h2>

</section>


<section id="estudios" style="margin-bottom: 40px;">
      <h2 style="color: #2c3e50;">Estudios</h2>
      <p>Incluye tu formación académica.</p>
</section>
{% endblock %} {% endcomment %}

{% block content %}

<h1>📌 Experiencia laboral</h1>
<ul>
  {% for empleo in empleos %}
    <li><strong>{{ empleo.nombre }}</strong> en {{ empleo.empresa }} 
    <small>📅 ({{ empleo.fecha_inicio|date:"F Y" }} - 
      {% if empleo.fecha_final %}{{ empleo.fecha_final|date:"F Y" }}{% else %}Actualidad{% endif %})
    </small>
    </li>
  {% endfor %}
</ul>

<h2>🎓 Estudios</h2>
<ul>
  {% for estudio in estudios %}
    <li><strong>{{ estudio.nombre }}</strong> en {{ estudio.institucion }} 
    <small> ({{ estudio.fecha_inicio|date:"F Y" }} - 
      {% if estudio.fecha_final %}{{ estudio.fecha_final|date:"F Y" }}{% else %}Actualidad{% endif %})
    </small>
    </li>
  {% endfor %}
</ul>

<h2>🧠 Conocimientos</h2>
<ul>
  {% for conocimiento in conocimientos %}
    <li>{{ conocimiento.nombre }}</li>
  {% empty %}
    <li>No se registraron conocimientos aún.</li>
  {% endfor %}
</ul>

<h2>🌐 Idiomas</h2>
<ul>
  {% for idioma in idiomas %}
    <li>{{ idioma.nombre }} — Nivel: {{ idioma.nivel }}</li>
  {% empty %}
    <li>No se registraron idiomas aún.</li>
  {% endfor %}
</ul>




<section id="experiencia" style="margin-bottom: 40px;">
  <h2 style="color: #2c3e50;">Información Básica</h2>
  <p>Nombre: Joaquín Canedo Pero</p>
  <p>Nacionalidad: Argentina</p>
  <p>Ubicacion: Buenos Aires</p>
  <p>Email: <a href="mailto:joacocp@gmail.com">joacocp@gmail.com</a></p>
  <p>LinkedIn: <a href="https://www.linkedin.com/in/joaquin-canedo-pero-68b308146/" target="_blank">joaquin-canedo-pero-68b308146/</a></p>
</section>

{% endblock %}