{% extends "parent.html" %}

{%block content1 %}
<section id="datos" style="margin-bottom: 40px;">
      <h2 style="color: #2c3e50;">Mis Datos</h2>
      <p>Aquí irán tus datos personales, como nombre, correo, etc.</p>
    </section>
{% endblock %}

{% block content2 %}

    <section id="experiencia" style="margin-bottom: 40px;">
      <h2 style="color: #2c3e50;">Experiencia Laboral</h2>
      <p>Describe aquí tu experiencia laboral y tu abanico de conocimientos.</p>
    </section>
{% endblock %}
{% block content3 %}
    <section id="estudios" style="margin-bottom: 40px;">
      <h2 style="color: #2c3e50;">Estudios</h2>
      <p>Incluye tu formación académica.</p>
    </section>
{% endblock %}
